<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="food" type="com.team16.foodapp.food.FoodVO"/>
		<typeAlias alias="user" type="com.team16.foodapp.user.UserVO"/>
	</typeAliases>
</configuration>